<div class="subsection">
<h2>follotter について</h2>
follotter は、<a href="http://twitter.com/">twitter</a> における followers （あなたをフォローしている人） と friends （あなたがフォローしている人） のデータを用いた統計サービスです。
follotter では現在、以下のサービスを提供しています。
<ul>
<li><a href="<%= ENV['BASE_URI'] %>/cofriends">cofriends</a><br/>
    共通の友人検索</li>
<li><a href="<%= ENV['BASE_URI'] %>/ranking">ranking</a><br/>
    フォロー数・フォロワー数ランキング（重い）</li>
</div>
